<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1"  parallel="tests" thread-count="3" >
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Can Login">
        <groups>
            <run>
                <exclude name="validationError"/>
            </run>
        </groups>
        <classes>
            <class name="LoginPageTests"/>
        </classes>
    </test>

    <test name="Can See Error Message">
        <groups>
            <run>
                <include name="validationError"/>
            </run>
        </groups>
        <classes>
            <class name="LoginPageTests"/>
        </classes>
    </test>
</suite>
